@import url("https://fonts.google.com/specimen/Nunito+Sans");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.detailCountry {
  margin-top: 3%;
  margin-left: 5%;
  width: 95%;
}
.detailCountry .header button {
  background-color: hsl(0, 0%, 100%);
  background-image: url("/./back.png");
  background-position: 5%;
  background-repeat: no-repeat;
  padding-left: 1%;
  outline: none;
  border: none;
  box-shadow: 0 0 6px 3px hsl(0, 0%, 90%);
  width: 10%;
  height: 56px;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 728px) {
  .detailCountry .header button {
    width: 40%;
    margin-top: 5%;
  }
}
.detailCountry .content {
  margin-top: 7%;
  display: flex;
  height: 40vh;
  align-items: center;
}
@media only screen and (max-width: 728px) {
  .detailCountry .content {
    margin-top: 8%;
    display: block;
  }
}
.detailCountry .content .flag img {
  width: 500px;
  box-shadow: 0 0 6px 3px hsl(0, 0%, 90%);
}
@media only screen and (max-width: 728px) {
  .detailCountry .content .flag img {
    width: 340px;
  }
}
.detailCountry .content .descContainer {
  width: 100%;
  margin-left: 10%;
}
@media only screen and (max-width: 728px) {
  .detailCountry .content .descContainer {
    margin-left: 0%;
    margin-top: 10%;
  }
}
.detailCountry .content .descContainer .nameCountry {
  color: hsl(200, 15%, 8%);
  font-size: 18px;
  margin-bottom: 2%;
}
@media only screen and (max-width: 728px) {
  .detailCountry .content .descContainer .nameCountry {
    font-size: 16px;
    margin-bottom: 10%;
  }
}
.detailCountry .content .descContainer .desc {
  color: hsl(0, 0%, 52%);
  display: flex;
}
@media only screen and (max-width: 728px) {
  .detailCountry .content .descContainer .desc {
    display: block;
  }
}
@media only screen and (max-width: 728px) and (max-width: 728px) {
  .detailCountry .content .descContainer .desc {
    font-size: 14px;
  }
}
.detailCountry .content .descContainer .desc span {
  color: hsl(200, 15%, 8%);
  font-weight: 600;
}
.detailCountry .content .descContainer .desc .desc1 p {
  margin-top: 7%;
}
@media only screen and (max-width: 728px) {
  .detailCountry .content .descContainer .desc .desc1 p {
    margin-top: 3%;
  }
}
.detailCountry .content .descContainer .desc .desc2 {
  margin-left: 20%;
}
@media only screen and (max-width: 728px) {
  .detailCountry .content .descContainer .desc .desc2 {
    margin-left: 0%;
    margin-top: 15%;
  }
}
.detailCountry .content .descContainer .desc .desc2 p {
  margin-top: 7%;
}
@media only screen and (max-width: 728px) {
  .detailCountry .content .descContainer .desc .desc2 p {
    margin-top: 3%;
  }
}
.detailCountry .content .borderCountries {
  display: flex;
  align-items: center;
  margin-top: 8%;
}
@media only screen and (max-width: 728px) {
  .detailCountry .content .borderCountries {
    margin-top: 15%;
    display: block;
  }
}
.detailCountry .content .borderCountries .cardContainer {
  display: flex;
}
@media only screen and (max-width: 728px) {
  .detailCountry .content .borderCountries .cardContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    margin-top: 5%;
    gap: 10px;
    font-size: 12px;
  }
}
.detailCountry .content .borderCountries .cardContainer .cardBorder {
  padding: 5px 15px 5px 15px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 6px 3px hsl(0, 0%, 90%);
  border-radius: 5px;
  margin-left: 2%;
}
@media only screen and (max-width: 728px) {
  .detailCountry .content .borderCountries .cardContainer .cardBorder {
    padding: 5px 5px 5px 5px;
  }
}

.darkDetailCountry {
  margin-top: 3%;
  margin-left: 5%;
  width: 95%;
}
.darkDetailCountry .header button {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
  background-image: url("/./backDark.png");
  background-position: 5%;
  background-repeat: no-repeat;
  padding-left: 1%;
  outline: none;
  border: none;
  box-shadow: 0 0 6px 2px hsl(207, 26%, 10%);
  width: 10%;
  height: 56px;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .header button {
    width: 40%;
    margin-top: 5%;
  }
}
.darkDetailCountry .content {
  margin-top: 7%;
  display: flex;
  height: 40vh;
  align-items: center;
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content {
    margin-top: 8%;
    display: block;
  }
}
.darkDetailCountry .content .flag img {
  width: 500px;
  box-shadow: 0 0 6px 2px hsl(207, 26%, 10%);
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content .flag img {
    width: 340px;
  }
}
.darkDetailCountry .content .descContainer {
  width: 100%;
  margin-left: 10%;
  background-color: hsl(207, 26%, 17%);
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content .descContainer {
    margin-left: 0%;
    margin-top: 10%;
  }
}
.darkDetailCountry .content .descContainer .nameCountry {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  margin-bottom: 2%;
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content .descContainer .nameCountry {
    font-size: 16px;
    margin-bottom: 10%;
  }
}
.darkDetailCountry .content .descContainer .desc {
  color: hsl(0, 1%, 73%);
  display: flex;
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content .descContainer .desc {
    display: block;
  }
}
@media only screen and (max-width: 728px) and (max-width: 728px) {
  .darkDetailCountry .content .descContainer .desc {
    font-size: 14px;
  }
}
.darkDetailCountry .content .descContainer .desc span {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.darkDetailCountry .content .descContainer .desc .desc1 p {
  margin-top: 7%;
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content .descContainer .desc .desc1 p {
    margin-top: 3%;
  }
}
.darkDetailCountry .content .descContainer .desc .desc2 {
  margin-left: 20%;
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content .descContainer .desc .desc2 {
    margin-left: 0%;
    margin-top: 15%;
  }
}
.darkDetailCountry .content .descContainer .desc .desc2 p {
  margin-top: 7%;
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content .descContainer .desc .desc2 p {
    margin-top: 3%;
  }
}
.darkDetailCountry .content .borderCountries {
  display: flex;
  align-items: center;
  margin-top: 8%;
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content .borderCountries {
    margin-top: 15%;
    display: block;
  }
}
.darkDetailCountry .content .borderCountries .cardContainer {
  display: flex;
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content .borderCountries .cardContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    margin-top: 5%;
    gap: 10px;
    font-size: 12px;
  }
}
.darkDetailCountry .content .borderCountries .cardContainer .cardBorder {
  padding: 5px 15px 5px 15px;
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 1%, 73%);
  box-shadow: 0 0 6px 2px hsl(207, 26%, 10%);
  border-radius: 5px;
  margin-left: 2%;
}
@media only screen and (max-width: 728px) {
  .darkDetailCountry .content .borderCountries .cardContainer .cardBorder {
    padding: 5px 5px 5px 5px;
  }
}

.container {
  background-color: hsl(0, 0%, 98%);
  min-height: 120vh;
}

.darkContainer {
  background-color: hsl(207, 26%, 17%);
  min-height: 120vh;
}/*# sourceMappingURL=detail.css.map */